*{
    font-family: monospace;
}

body{
    margin:0;
    padding:0;

    background:#d4d6d4;
    background:#152214;
}


.screen{
    display:flex;
    flex-direction: column;
    position:relative;
    width:100%;
    height:100%;
    /* height:auto; */
    padding:2rem 0;
    align-self: center;
    justify-self:center;

    align-items: center;
    justify-content: center;
}

h1{
    padding:0 20px;
    text-align: center;
    /* border: 1px solid; */
}

h1, .appsubtitle{
    /* color:#053f05; */
    color:#f2f2f2;
}

.appTitle{
    font-size:1.5em;
    padding:.6em 0 .6em 0;
    text-align: center;
    color:lime;
    /* border:1px solid gray; */
}

.appsubtitle{
    text-align: center;
    font-size:14px;
}

.appBox{
    /* padding:2em; */
    /* background:#f2f2f2; */
    border-radius:.5em;
    width:85%;
    /* border:1px solid; */
}


.createRow{
    border:none;
    /* border:1px solid gray; */
    background:#fff;
    display:flex;
    grid-gap:.5em;
    border-radius:.5em;
    padding:.2em;
}

.createRow *{
    font-size:1.2em;
}

#createinput, #inputBox{
    border:none;
    background:transparent;
    width:100%;
    outline:none;
    padding:.8em 1em;
    font-size: 17px;
    color:#042404;
    /* border:1px solid; */
}

#addBtn{
    padding:.6em 2em;
    border:none;
    background:#1cc41c;
    color:#f2f2f2;
    border-radius:.3em;
    cursor: pointer;
    font-size:17px;
}


#listBox{
    list-style-type:none;
    padding:0;
    max-height:43vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #ddd #f0f0f0;
    /* padding: 0 .5em 0 0; */
    /* border:1px solid #ddd; */
}


#listBox li{
    font-size:1.02em;
    /* margin:.5em 0; */
    background:#fff;
    padding:1em;
    color:#5d5d5d;
    display:flex;
    align-items: center;
    grid-gap:0px;
    transition:.3s ease-out 60ms;
}
#listBox li:hover{
    background:#f5f5f5;
    /* transform:scale(1.02); */
}

#check{
    accent-color:green;
    cursor: pointer;
}

#check:checked ~ #inputBox{
    text-decoration: line-through;
}


#remove{
    color:green;
    font-size:21px;
    cursor:pointer;
    transition:.3s ease-out 60ms;
}
#remove:hover{
    color:limegreen;
    font-weight: bold;
}


.footer{
    text-align: center;
    margin-top:2em;
    color:#052b0c;
    color:#c7c7c7;
    font-size:14px;
    /* border:1px solid; */
}





/*  IPAD TO DESKTOP VIEW STYLE */


@media only screen and (min-width:800px){
    

    .screen{
        position:absolute;
        width:100%;
        height:100%;
        /* height:auto; */
    }


    .appBox{
        /* background:#f2f2f2; */
        border-radius:.5em;
        width:70%;
        /* border:1px solid; */
    }


    .footer{
        font-size:17px;
    }
}







@media only screen and (min-width:1000px){
    .appBox{
        width:40%;
    }
}


/*  IPAD TO DESKTOP VIEW STYLE */








@media only screen and (min-height:100px){
    .screen{
        position:absolute;
        width:100%;
        height:100%;
        padding:0;
        /* height:auto; */
    }
}
